@model IEnumerable<SporSalonuUygulamasi.Models.Trainer>

@{
    ViewData["Title"] = "Eğitmenler";
}

<h1>Eğitmenler Listesi</h1>
<div class="alert alert-info">
    <strong>Toplam Eğitmen Sayısı:</strong> @ViewBag.Count
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Eğitmen Ekle</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Uzmanlık Alanı</th>
            <th>Mesai Saatleri</th>
            <th>Spor Salonu</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.ExpertiseArea)</td>

                <td>@item.WorkStart - @item.WorkEnd</td>

                <td>
                    @if (item.Gym != null)
                    {
                        @item.Gym.Name
                    }
                    else
                    {
                        <span class="text-muted">-Atanmamış-</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Düzenle</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detay</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>